/src/main/resources/Queries/
.gitignore
.idea/.gitignore
.idea/artifacts/
.idea/compiler.xml
.idea/dataSources.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/uiDesigner.xml
.idea/vcs.xml
LogFile/
out/
src/main/resources/H2DataBase.properties
src/main/resources/PosdgreSQL.properties
src/main/resources/dbName.properties
target/
