<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="navbar-brand" style="text-align: center">Student menu</h1>
<h2 class="navbar-brand" style="text-align: center" th:text="${message}">MESSAGE</h2>
<div class="container-fluid">
    <a class="nav-link active" th:href="@{/students/all}">Show all students</a>
    <br/>
</div>
<p>Find student by id</p>
<nav class="navbar navbar-light bg-light" aria-label>
    <div class="container-fluid">
        <form class="d-flex" th:method="POST" action="/students/student">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="id"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-sm-grid" th:method="POST" th:action="@{/students/add}" th:object="${studentForm}">
            <input class="form-control me-2" type="text" th:field="*{firstName}" placeholder="First name"
                   aria-label="First name" name="firstName"/>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
            <input class="form-control me-2" type="text" th:field="*{lastName}" placeholder="Last name"
                   aria-label="Last name" name="LastName"/>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
            <input class="form-control me-2" type="text" th:field="*{sex}" placeholder="Sex" aria-label="" name="sex"/>
            <div th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Sex error</div>
            <input class="form-control me-2" type="number" th:field="*{age}" placeholder="Age" aria-label="Age"
                   name="age"/>
            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
            <input class="form-control me-2" type="number" th:field="*{course}" placeholder="Course" aria-label="Course"
                   name="course"/>
            <div th:if="${#fields.hasErrors('course')}" th:errors="*{course}">Course name error</div>
            <input class="form-control me-2" type="number" th:field="*{groupId}" placeholder="Group Id"
                   aria-label="Group id" name="groupId"/>
            <div th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}">First name error</div>
            <button class="btn btn-outline-success" type="submit">Add new student</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="delete" th:action="@{/students/delete}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id" name="id"/>
            <button class="btn btn-outline-success" type="submit">Delete student</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="post" th:action="@{/students/assign/group}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="studentId"/>
            <input class="form-control me-2" type="number" placeholder="Group id" aria-label="Group id" name="groupId"/>
            <button class="btn btn-outline-success" type="submit">Assign group</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="post" th:action="@{/students/remove/group}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="studentId"/>
            <button class="btn btn-outline-success" type="submit">Remove student from group</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="post" th:action="@{/students/change/group}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="studentId"/>
            <input class="form-control me-2" type="number" placeholder="Group id" aria-label="Group id" name="groupId"/>
            <button class="btn btn-outline-success" type="submit">Change group</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="post" th:action="@{/students/assign/course}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="studentId"/>
            <input class="form-control me-2" type="number" placeholder="Course" aria-label="Course" name="course"/>
            <button class="btn btn-outline-success" type="submit">Assign course</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="post" th:action="@{/students/remove/course}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="studentId"/>
            <button class="btn btn-outline-success" type="submit">Remove course</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="post" th:action="@{/students/change/course}">
            <input class="form-control me-2" type="number" placeholder="Student id" aria-label="Student id"
                   name="studentId"/>
            <input class="form-control me-2" type="number" placeholder="Course" aria-label="Course" name="course"/>
            <button class="btn btn-outline-success" type="submit">Change course</button>
        </form>
    </div>
</nav>
</body>
</html>