<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>audiences</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="navbar-brand" style="text-align: center">Audience menu</h1>
<h2 class="navbar-brand" style="text-align: center" th:text="${message}">MESSAGE</h2>
<div class="container-fluid">
    <a class="nav-link active" th:href="@{/audiences/all}">Show all audiences</a>
</div>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="POST" action="/audiences/audience">
            <input class="form-control me-2" type="number" placeholder="Audience id" aria-label="Audience id"
                   name="id"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-grid" th:method="POST" th:action="@{/audiences/add}" th:object="${audience}">
            <input class="form-control me-2" type="number" th:field="*{number}" placeholder="Audience number"
                   aria-label="Audience number" name="number"/>
            <div th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number error</div>
            <button class="btn btn-outline-success" type="submit">Add new audience</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" th:method="delete" th:action="@{/audiences/delete}">
            <input class="form-control me-2" type="number" placeholder="Audience id" aria-label="Audience id"
                   name="id"/>
            <button class="btn btn-outline-success" type="submit">Delete audience</button>
        </form>
    </div>
</nav>
</body>
</html>