<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>groups related to cathedra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="navbar-brand" style="text-align: center">Groups related to cathedra</h1>
<div class="row justify-content-center">
    <div class="col-8">
        <table class="table table-bordered table-hover ">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>cathedra id</th>
                <th>schedule id</th>
            </tr>
            <div th:each="group : ${groups}">
                <tr>
                    <th><p th:text="${group.getId()}">VALUE</p></th>
                    <th><p th:text="${group.getName()}">VALUE</p></th>
                    <th><p th:text="${group.getCathedraId()}">VALUE</p></th>
                    <th><p th:text="${group.getScheduleId()}">VALUE</p></th>
                </tr>
            </div>
        </table>
    </div>
</div>
</body>
</html>