<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>all groups</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="navbar-brand" style="text-align: center">Groups</h1>
<div class="container-fluid" th:each="group : ${groups}">
    <a class="nav-link active" th:href="@{/groups/{id}(id=${group.getId()})}" th:text="${group.getName()}">group</a>
</div>
</body>
</html>