<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>University</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="navbar-brand" style="text-align: center">University</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" th:href="@{faculties}">Faculties</a>
                <br/>
                <a class="nav-link active" th:href="@{audiences}">Audiences</a>
                <br/>
                <a class="nav-link active" th:href="@{cathedras}">Cathedras</a>
                <br/>
                <a class="nav-link active" th:href="@{schedules}">Schedules</a>
                <br/>
                <a class="nav-link active" th:href="@{teachers}">Teachers</a>
                <br/>
                <a class="nav-link active" th:href="@{subjects}">Subjects</a>
                <br/>
                <a class="nav-link active" th:href="@{items}">Items</a>
                <br/>
                <a class="nav-link active" th:href="@{groups}">Groups</a>
                <br/>
                <a class="nav-link active" th:href="@{students}">Students</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>