<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>subjects related to audience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="navbar-brand" style="text-align: center">Subject related to audience number -
    <th:blok th:text="' '+ ${number}"></th:blok>
</h1>
<div class="row justify-content-center">
    <div class="col-8">
        <table class="table table-bordered table-hover ">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>teacher id</th>
                <th>description</th>
            </tr>
            <div th:each="subject : ${subjects}">
                <tr>
                    <th><p th:text="${subject.getId()}">VALUE</p></th>
                    <th><p th:text="${subject.getName()}">VALUE</p></th>
                    <th><p th:text="${subject.getTeacherId()}">VALUE</p></th>
                    <th><p th:text="${subject.getDescription()}">VALUE</p></th>
                </tr>
            </div>
        </table>
    </div>
</div>
</body>
</html>